/* ==== media responsive mobile sizes === */

@media screen and (max-width: 768px) {
  #Container {
    min-width: 100%;
    padding: 10px 15px;
  }

  .navbar {
    display: flex;
    align-items: flex-start;
  }

  .brandLogo {
    font-size: 25px;
    font-weight: 700;
    color: var(--main-color);
    text-transform: capitalize;
    word-spacing: 1px;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    z-index: 999;
    transition: 0.3s ease;
  }

  .menuItems li {
    padding: 15px;
    text-align: center;
  }

  .hamburger-menu {
    display: block;
    font-size: 28px;
    font-weight: 600;
    color: var(--text-color);
  }

  .hamburger-menu:hover {
    color: var(--hover-color);
  }

  .menuItems.active {
    display: flex;
  }

  .home .home-section {
    flex-direction: column;
    padding: 0 1rem;
    text-align: center;
  }

  .home-content span {
    font-size: 14px;
    line-height: 2;
    margin-bottom: 10px;
  }

  .home-content h1 {
    font-size: 35px;
    line-height: 1.2;
  }

  .home-content p {
    font-size: 14px;
    font-weight: 400;
    margin: 15px 0;
  }

  .home-content button {
    width: 140px;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
  }

  .home-img img {
    height: 350px;
    width: 350px;
    margin-top: 20px;
  }

  .about-section {
    flex-direction: column;
    padding: 30px 15px;
  }

  .about-img img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .about-content {
    padding: 0 10px;
    text-align: center;
  }

  .about-content span {
    font-size: 14px;
    line-height: 2.5;
  }

  .about-content h1 {
    font-size: 24px;
  }

  .online-text,
  .earn-text,
  .expert-text {
    margin: 15px 0;
    padding: 10px 15px;
  }

  .online-text .online-Heading,
  .earn-text h2,
  .expert-text h2 {
    font-size: 18px;
  }

  .online-text p,
  .earn-text p,
  .expert-text p {
    font-size: 13px;
    line-height: 1.4;
  }

  .course .course-section {
    padding: 20px 15px;
  }

  .course-section i {
    font-size: 14px;
    padding: 8px;
    line-height: 2;
  }

  .course-section span {
    font-size: 18px;
  }

  .course-section h2 {
    font-size: 24px;
  }

  .course-box {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
  }

  .course-box .course-card {
    margin: 10px;
    padding: 15px 20px;
  }

  .course-content h3 {
    font-size: 14px;
    margin: 3px 0;
  }

  .course-content p {
    font-size: 13px;
  }

  #courses-section {
    padding: 30px 10px;
  }

  #courses-box {
    grid-template-columns: 1fr;
    padding: 20px 0;
  }

  #course-card {
    margin: 0 10px;
  }

  #course-card img {
    width: 100%;
    height: auto;
  }

  #courses-content h3 {
    font-size: 14px;
  }

  #courses-price p,
  #courses-price a,
  #course-star span {
    font-size: 12px;
  }

  #courses-section h2 {
    font-size: 22px;
  }

  #courses-section span {
    font-size: 18px;
  }

  #courses-section p {
    font-size: 14px;
  }
  .counter .counter-section {
    padding: 10px 10px;
  }

  .counter-box {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 20px 0;
  }

  .counter-box .counter-card {
    padding: 10px;
    margin: 5px 5px;
  }

  .counter-content h2 {
    font-size: 24px;
  }

  .counter-content h4 {
    font-size: 13px;
    margin-top: 10px;
  }
}
