@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --main-color: #eb7610;
  --hover-color: #132d5e;
  --text-color: #333;
  --white-color: #fff;
  --dark-color: #000;
  --light-text: #555;
}

body {
  font-family: "poppins", sans-serif;
  height: 100%;
  width: 100%;
  background: #fff;
}

::placeholder {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.lightText {
  color: var(--hover-color);
}

#Container {
  min-width: 1200px;
  margin: auto;
  padding: 10px 20px;
}

header {
  width: 100%;
  height: 70px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brandLogo {
  font-size: 25px;
  font-weight: 700;
  color: var(--main-color);
  text-transform: capitalize;
  word-spacing: 1px;
}

.menuItems {
  display: flex;
  align-items: center;
}

.menuItems li {
  padding: 0px 15px;
  list-style: none;
  position: relative;
}

.menuItems li .hoverLinks {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}

.menuItems li .hoverLinks:hover {
  color: var(--main-color);
}

.menuItems li .nav-active {
  color: var(--main-color);
}

#account {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  color: var(--white-color);
  width: 100px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0; 
}

#account .signUp {
  font-size: 15px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: var(--white-color);
  text-decoration: none;
  color: var(--white-color); 
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

/* === home section === */
.home {
  background: url(../Assets/Banner/banner.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.home .home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
}

.home-content span {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  word-spacing: 1px;
  line-height: 3.5;
  color: var(--main-color);
  text-transform: uppercase;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.1;
  font-family: "poppins", sans-serif;
  color: var(--hover-color);
}

.home-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: 1px;
  word-spacing: 1px;
  font-weight: 400;
  color: var(--light-text);
  margin: 20px 0;
}

.home-content button {
  display: block;
  background-color: var(--hover-color);
  width: 140px;
  height: 50px;
  color: var(--white-color);
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.home-content button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.home-img img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  cursor: pointer;
}

.home-img img:hover {
  filter: grayscale(1.5);
}


/* === About section start === */

.about {
  background-color: var(--white-color);
  width: 100%;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

.about-img img {
  width: 500px;
  height: 450px;
  -o-object-fit: fill;
  object-fit: fill;
}

.about-img img:hover {
  filter: grayscale(1.5);
}

.about-content {
  padding: 0 30px;
}

.about-content span {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  word-spacing: 1px;
  line-height: 3.4;
  color: var(--main-color);
  text-transform: uppercase;
}

.about-content h1 {
  font-family: "poppins", sans-serif;
  font-size: 30px;
  font-weight: 800;
  word-spacing: 1px;
}

.about .online-text {
  margin: 20px 0;
  padding: 15px 20px;
  background-color: #f3f1f1;
  border-radius: 10px;
}

.online-text .online-Heading {
  font-size: 20px;
  font-weight: 600;
  font-family: 'poppins', sans-serif;
  color: var(--hover-color);
}

.online-text p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #555;
}

.about .earn-text {
  margin: 20px 0;
  padding: 15px 20px;
  background-color: #f3f1f1;
  border-radius: 10px;
}

.earn-text h2 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(19, 45, 94);
}

.earn-text p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #555;
}

.about .expert-text {
  margin: 20px 0;
  padding: 15px 20px;
  background-color: #f3f1f1;
  border-radius: 10px;
}

.expert-text h2 {
  font-size: 20px;
  font-weight: 500;
  color: rgb(19, 45, 94);
}

.expert-text p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  color: #555;
}


/* === courses section start === */

.course {
  width: 100%;
  background: url(../Assets/Banner/banner.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.course .course-section {
  text-align: center;
  padding: 40px 20px;
}

.course-section i {
  font-size: 16px;
  color: var(--white-color);
  line-height: 2.2;
  background-color: var(--hover-color);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.course-section i:hover {
  scale: 1.1;
}

.course-section span {
  color: var(--main-color);
  font-size: 20px;
  line-height: 1.8;
  font-weight: 500;
  text-transform: uppercase;
}

.course-section h2 {
  color: rgb(19, 45, 94);
  font-size: 28px;
  line-height: 1.8;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: "poppins", sans-serif;
}

.course-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.course-box .course-card {
  box-shadow: 0 0 3px #ccc;
  background-color: #f9f9f9;
  margin: 20px 20px 10px 20px;
  padding: 20px 30px;
  border-radius: 5px;
  cursor: pointer;
}

.course-box .course-card:hover {
  background: var(--main-color);
}

.course-content h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0px;
  font-family: 'Montserrat', sans-serif;
  color: var(--hover-color);
}

.course-content p {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin-top: 5px;
}